
@{
    ViewData["Title"] = "ExternalLoginResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExternalLoginResponse</h2>

<span>@ViewBag.ErrorTitle</span>
<span>@ViewBag.ErrorMessage</span>
<i class="fa fa-trash" aria-hidden="true"><a href="https://mail.google.com/mail/u/0/?tab=wm&ogbl" class="fa fa-r">click this link to login gmail</a></i>